.examples {
    background-color: var(--second-white);
    padding: 50px 0;
}

.examples__heading {
    font-weight: 600;
    font-size: var(--main-h2);
    line-height: 1.16;
    color: var(--second-dark);
    margin-bottom: 50px;
}

.examples__card {
    background-color: var(--second-white);
    max-height: 420px;
    flex-direction: column;
}

.examples__img {
    width: 100%;
    padding-left: 30px;
}

.examples__text {
    font-size: var(--main-small);
    font-weight: 600;
    color: var(--main-dark);
    text-align: center;
}

@media screen and (max-width: 969px) {
    .examples__card {
        padding-left: 20px;
    }
}

@media screen and (max-width: 639px) {
    .examples__card {
        padding-left: 0;
    }
}

@media screen and (max-width: 510px) {
    .examples__text {
        padding: 0;
    }
}